/* font-family: "Lora", serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Pacifico", cursive; */



/* settings */
:root {
  --bg-color: #2f303a;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background-color: var(--bg-color);
  background-size: 40%;
  background-repeat: repeat;
  background-position: center;
  color: var(--text-color);
  transition: all 0.3s ease;
}

section{
  width: 1000px;
  margin: 0 auto;
}

.container{
  width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Жіноча тема */
.theme-feminine {
  /* --text-on-contrast: #F7F30B; */
  --text-on-contrast: #961446;
  --bg-contrast: #ffd0ec;
  --text-on-casual: #333333;
  --bg-casual: #FAF0E6;
  --accent: #E6E6FA;
  --accent-hover: #C2F0F7;
}

.theme-masculine {
  --text-on-contrast: #224155;
  --bg-contrast: #C3E0F7;

  --text-on-casual: #2C4860;
  --bg-casual: #E0D7F8;

  --accent: #5B8DB8;
  --accent-hover: #3A6C96;
}
/* elements */

/* modal */
#registerModal{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-content{
  background-color: var(--bg-casual);
  width: 500px;
  height: 190px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#modalText{
  font-size: 16px;
  text-align: center;
  color: var(--text-on-casual);
  line-height: 150%;
  height: 72px;
}
#modalInput{
  border: 2px solid transparent;
  outline: none;
  padding: 5px 12px;
  border-radius: 20px;
}
#modalInput:focus{
  border: 2px solid var(--text-on-contrast);
  outline: none; 
}
#closeModal{
  top: 20px;
  cursor: pointer;
}
/* header */
.header{
  background-color: var(--bg-casual);
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.header-list{
  display: flex;
  gap: 50px;
}
.header-link{
  color: var(--text-on-casual);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1cap;
}
.current{
  animation: changeColor 3s ease-in-out infinite;
}
@keyframes changeColor {
  0%{
    color: #961446;
  }
  25%{
    color: violet;
    transform: scale(0.9);
  }
  50%{
    color: lightsalmon;
  }
  75%{
    color: rgb(255, 72, 0);
    transform: scale(1.1);
  }
  100%{
    color: #961446;
  }
}
/* hero */
.hero{
  background-color: var(--bg-contrast);
  height: 550px;
  position: relative;
}
.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 46px;
  text-align: center;
  line-height: 140%;
  color: var(--text-on-contrast);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

/* links */
.link-tree{
  background-color: var(--bg-casual);
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.link-card{
  width: 170px;
  background-color: var(--bg-contrast);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 7px var(--text-on-contrast);
}
.link-card:hover{
  box-shadow: 5px 5px 10px var(--text-on-contrast);
}
.link-card-img{
  width: 90px;
  height: 90px;
}
.link-card-link{
  font-family: "Pacifico", cursive;
  color: var(--text-on-contrast);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: 100;
}
.link-card-desc{
  color: var(--text-on-contrast);
  font-size: 12px;
  font-weight: 600;
}



/* counters */
.counters{
  padding-top: 134px;
  padding-bottom: 134px;
  background-color: var(--bg-contrast);

}
.counter-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.counter-list li{
  padding: 20px;
  border: 2px solid var(--text-on-contrast);
  border-radius: 20px;
}
.counter{
  width: 100%;
  background-color: var(--bg-casual);
}
.small{
  width: 47%;
}
.counter-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.counter-text{
  font-size: 16px;
  font-weight: 500;
}
.time{
  font-family: "Pacifico", cursive;
  color: var(--text-on-casual);
  font-size: 24px;
}
/* footer */
.footer{
  border-top: 5px solid var(--accent-hover);
  background-color: var(--bg-contrast);
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright{
  text-align: center;
  color: var(--text-on-contrast);
  font-weight: 700;
}
.author{
  text-decoration: underline;
  color: var(--text-on-contrast);
}